@model ProjectViewModel  
<div class="project card" data-project-id="@Model.Id">
    <div class="card-header">
        <div class="project-image">
            <img src="@Model.ProjectImage" alt="project" />
        </div>
        <h6 class="project-name">@Model.ProjectName</h6>
        <span class="client">@Model.ClientName</span>

        <div id="projects-actions-container">
            <button type="button" class="btn-actions" data-type="dropdown" data-target="#project-dropdown-@Model.Id">
                <i class="fa-solid fa-ellipsis"></i>
            </button>
            <div id="project-dropdown-@Model.Id" class="project-dropdown hide">
                <div class="dropdown-body">
                    <nav class="dropdown-actions">
                        <button class="dropdown-action edit" data-type="modal" data-target="#edit-project-modal">
                            <i class="fa-duotone fa-solid fa-pen-to-square"></i>
                            <span>Edit</span>
                        </button>
                    </nav>
                    <div class="or-divider"></div>
                    <nav class="dropdown-actions">
                        <button href="#" class="dropdown-action addMember">
                            <i class="fa-duotone fa-solid fa-user-plus"
                                style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;"></i>
                            <span>Add Member</span>
                        </button>
                    </nav>
                    <div class="or-divider"></div>
                    <nav class="dropdown-actions">
                        <a href="#" class="dropdown-action delete">
                            <i class="fa-duotone fa-solid fa-trash"></i>
                            <span>Delete Project</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>@Html.Raw(Model.Description)</p>
    </div>
    <div class="card-footer">
        <div class="badge badge-normal">
            <i class="fa-duotone fa-solid fa-clock"></i>
            <span class="badge-span">@Model.TimeLeft</span>
        </div>
        <div class="members">
            <div class="user-image">
                <img src="/images/user_avatar.svg" alt="project" />
            </div>
            <div class="user-image">
                <img src="/images/user_avatar2.svg" alt="project" />
            </div>
        </div>
    </div>
</div>